## Train-Test Split Evaluation

The train-test split is a technique for assessing a machine learning algorithm's performance.


The procedure involves dividing a dataset into two subsets. The first subset, known as the training dataset, is used to fit the model. The second subset is not used to train the model; instead, the model is fed the dataset's input element, and predictions are made and compared to expected values. The second dataset is known as the test dataset.

*   Train Dataset: Used to fit the machine learning model.
*   Test Dataset: Used to evaluate the fit machine learning model.

The goal is to estimate the machine learning model's performance on new data that was not used to train the model.

A ideal representation of the specific problem implies that there are enough records to cover all of the domain's common and uncommon cases. This could refer to input variable combinations observed in practise. Thousands, hundreds of thousands, or millions of examples may be required.

When the available dataset is small, the train-test procedure is ineffective. The reason for this is that when the dataset is divided into train and test sets, the training dataset will not contain enough data for the model to learn an effective mapping of inputs to outputs. There will also be insufficient data in the test set to evaluate the model's performance effectively. The predicted performance may be overly optimistic (good) or overly pessimistic (bad).

If you don't have enough data, the k-fold cross-validation procedure is a good alternative model evaluation method.

Some models are extremely expensive to train, making repeated evaluation, as used in other procedures, impossible. Deep neural network models are one example. The train-test procedure is commonly used in this case.

### How to set-up :

The size of the train and test sets is the procedure's main configuration parameter. For either the train or test datasets, this is most commonly expressed as a percentage between 0 and 1. A training set with a size of 0.67 (67%), for example, means that the remainder percentage of 0.33 (33%) is assigned to the test set.

There is no such thing as an optimal split percentage.

You must select a split percentage that meets the goals of your project:


*   Train: 80%, Test: 20%
*   Train: 67%, Test: 33%
*   Train: 50%, Test: 50%


Now that we are familiar with the train-test split model evaluation procedure, let’s look at how we can use this procedure in Python.

<br><br>
<center>

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/1_train-test-split_0.jpg)


</center>

In [1]:
import pandas as pd

In [2]:
dataframe  = pd.read_csv('./dataset/diabetes.csv')
# Displays top 5 row
dataframe.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
type(dataframe)

pandas.core.frame.DataFrame

##### Train Test split without sklearn library

In [5]:
# Shuffle the dataset
shuffle_df = dataframe.sample(frac=.5)
shuffle_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
740,11,120,80,37,150,42.3,0.785,48,1
352,3,61,82,28,0,34.4,0.243,46,0
78,0,131,0,0,0,43.2,0.270,26,1
444,4,117,62,12,0,29.7,0.380,30,1
361,5,158,70,0,0,29.8,0.207,63,0

In [6]:
shuffle_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 740 to 607
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               384 non-null    int64
 1   Glucose                   384 non-null    int64
 2   BloodPressure             384 non-null    int64
 3   SkinThickness             384 non-null    int64
 4   Insulin                   384 non-null    int64
 5   BMI                       384 non-null    float64
 6   DiabetesPedigreeFunction  384 non-null    float64
 7   Age                       384 non-null    int64
 8   Outcome                   384 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 30.0 KB

In [7]:
# Shuffle the dataset
shuffle_df = dataframe.sample(frac=1)

# Define a size for your train set
train_size = int(0.7 * len(dataframe))
print(train_size)
# Split your dataset
train_set = shuffle_df[:train_size] #

test_set = shuffle_df[train_size:] #

537

In [8]:
print("train data :",len(train_set), ", test data :",len(test_set))

train data : 537 , test data : 231

In [9]:
train_set.groupby(['Outcome']).count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,347,347,347,347,347,347,347,347
1,190,190,190,190,190,190,190,190

In [10]:
test_set.groupby(['Outcome']).count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,153,153,153,153,153,153,153,153
1,78,78,78,78,78,78,78,78

### Train Test split with sklearn library

In [11]:
features = dataframe.drop('Outcome', axis=1)
target = dataframe['Outcome']

In [12]:
features

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [13]:
target

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# We are splitting the data into train and test sets in the ratio of 70:30
# i.e 70 % of data is train set and 30 % of the data is test set
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.3)

In [16]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((537, 8), (231, 8), (537,), (231,))

We can divide the dataset so that 70% is used to train the model and 30% is used to evaluate it.

Then fit the train data use the model to make predictions and evaluate the predictions using the accuracy performance metric.

To summarise, you now understand what it means to divide data into two sets, namely train and test sets. In future sessions, you will also learn about the various methods available in the sklearn library for splitting data into train and test splits.